#newArtworkPage {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(var(--vh, 1vh) * 100);
    width: calc(var(--vw, 1vw) * 100);
    overflow-x: visible;

    .artworkSlider {
        left: calc(-1 * var(--padding, 5vw));
        width: calc(100% + 2 * var(--padding, 5vw));
        height: 100%;
    }
}