.artworkTableInfo {
    position: relative;
    z-index: 1;
    flex: 0 0 calc(var(--vw, 1vw) * 15);
    padding-top: var(--padding, 5vw);
    padding-bottom: var(--padding, 5vw);

    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr 0.5fr 2fr;
    align-items: center;

    .tableCell {
        text-align: center;

        .label {
            height: calc(var(--vw, 1vw) * 5);
        }
        .content {
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;letter-spacing: -0.06em;
        
            color: #000000;
        }
    }

    .division {
        display: flex;
        align-items: center;
        justify-content: center;

        .line {
            height: 20px;
            width: 0px;
            border-left: solid 1px #CECECE;
        }
    }
}