.artworkInfo {
    display: grid;
    grid-template-rows: auto calc(var(--vw, 1vw) * 8);
    align-items: center;
    width: 100%;
    text-align: left;
    color: black;

    > div {
        overflow: visible;
    }

    .artworkTitle {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 140%;
    }

    .artist {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #000000;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: calc(var(--vw, 1vw) * 2);
    }
}