.artworkTrackList {
    position: relative;
    margin-top: calc(var(--vw, 1vw) * 5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: visible;

    .artworkTrackListContainer {
        flex: 0 0 calc(100% - 4px);
        overflow: hidden;

        .artworkTrackContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: calc(var(--vw, 1vw) * 3);
    
            .tracksIncategory {
                width: 100%;
    
                .category {
                    width: 100%;
                    height: auto;
                    text-align: left;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 115%;
                    letter-spacing: -0.04em;
                    color: #000000;
                }
    
                .track {
                    width: 100%;
                    height: calc(var(--vw, 1vw) * 25);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #AEAEAE;
    
                    .artwork {
                        flex: 1 0 auto;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: calc(var(--vw, 1vw) * 1);
                        width: 100%;
    
                        .artworkThumbnail {
                            width: calc(var(--vw, 1vw) * 20);
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
    
                            .imageContainer {
                                width: calc(var(--vw, 1vw) * 17);
                                height: calc(var(--vw, 1vw) * 17);
                                overflow: hidden;
                                border-radius: calc(var(--vw, 1vw) * 2);
                                position: relative;
    
                                img {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
    
                        .artworkInformation {
                            position: relative;
                            flex: 0 0 calc(100% - (var(--vw, 1vw) * 21));
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: calc(var(--vw, 1vw) * 2);
                            text-align: left;
                            color: #000000;
                            overflow: hidden;

                            .artworkName {
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 115%;
                                letter-spacing: -0.04em;
                                width: 100%;
                                white-space: nowrap;
                                overflow: scroll;

                                &::-webkit-scrollbar {
                                    display: none;
                                    /* Chrome, Safari, Opera*/
                                    // 스크롤바 잔상 없애기
                                    height: 0;
                                    background: transparent;
                                    /* Optional: just make scrollbar invisible */
                                    -webkit-appearance: none;
                                }
                            }
    
                            .artist {
                                font-weight: 500;
                                font-size: 13px;
                                line-height: 115%;
                                letter-spacing: -0.06em;
                            }
                        }
                    }
                }
            }
        }
    }
    
    ::v-deep(.dotScrollBar) {
        align-self: flex-start;
        flex: 0 0 4px;
    }
}