.titleHeader {
    height: calc(var(--vw, 1vw) * 15);
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--vw, 1vw) * 2);
    font-weight: 700;
    font-size: 30px;
    line-height: 115%;
    letter-spacing: -0.06em;
    color: #000000;
    text-align: left;
}
.underLine {
    height: 1px;
    border-bottom: 1px solid black;
}