.subPageMy {
    padding-top: calc(var(--vw, 1vw) * 16);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .top {
        flex-basis: auto;
        overflow: visible;

        .profile {
            transition: all 0.2s;
            padding-top: calc(var(--vw, 1vw) * 2.6);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(var(--vw, 1vw) * 2.6);
    
            ::v-deep(.roundProfile) {
                width: calc(var(--vw, 1vw) * 24);
                height: calc(var(--vw, 1vw) * 24);
                transition: all 0.2s;
            }
    
            .myName {
                overflow: hidden;
                transition: all 0.2s;
                height: calc(var(--vw, 1vw) * 7.5);
                display: flex;
                align-items: center;
                font-family: 'Pretendard';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
            }
        }
    
        .sortingStrategyTab {
            width: 100%;
            height: calc(var(--vw, 1vw) * 10);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: calc(var(--vw, 1vw) * 3);
    
            svg {
                rect {
                    fill: rgb(174, 174, 174);
                }
            }
    
            svg.sortingStrategy {
                rect {
                    fill: rgb(0, 0, 0);
                }
            }
        }
    }
    
    .bottom {
        flex: 1 0 auto;
        transition: all 0.2s ease;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
            height: 0;
            background: transparent;
            -webkit-appearance: none;
        }
    }
}